/*primary or default theme*/

$defaultAppBackgroundColor: #002F87;
$defaultAppTextColor: white;
$defaultAppBodyBackgroundColor: white;

/* button */
$defaultButtonColor: red;
$defaultButtonLabelColor: white;