/*primary or default theme*/

$defaultSignInBackgroundColor: rgb(82, 86, 89);
$defaultSignInContainerBoxShadowColor: #1b1b1b;
$defaultAppBackgroundColor: #002F87;
$defaultAppSecondaryBackgroundColor: white;
$defaultAppTextColor: white;
$defaultAppBodyBackgroundColor: white;

/*Sidebar*/
$sidebarBackgroundColor:#002F87;
$sidebarTextColor: white;
$sidebarItemHoverBackgroundColor:#01266b;
$sidebarSelectedItemBackgroundColor: #6dec6d;
$sidebarSelectedItemContentBackgroundColor: #9afdc7;
$sidebarSelectedItemTextColor: black;


/* button */
$defaultButtonColor: #002366;
$defaultButtonLabelColor: white;

/* input */
$defaultInputBackgroundColor: #f0f0f0;
$defaultInputBorderColor: #002F87;