@import '../sass/colors';

.subject{
    &-default{
        width: 100%;
        &__cards{
            display: flex;
            justify-content: space-evenly;
            &-section{
                display: flex;
            }
            &-type{
                width: 50%;
            }
            &-progress{
                width:50%; 
                &-bar{
                    margin: 20px;
                    width: 200px;
                    height: 200px;
                    position: relative;
                }           
            }
        }
        &__content{
            width: 100%;
            padding: 20px;
            color: $bodyContentTextColor;
        }
        &__btn-section{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
            &-button{
                width: 500px !important;
            }
        }
    }
}