@import '../sass/colors';

.app-btn{
    &-default{
        background-color: $defaultButtonColor;
        color: $defaultButtonLabelColor;
        width: 120px;
        border-radius: 50px;
        border:unset
    }
}