@import '../sass/colors';

.app-card{
    &-default{
        background-color: $cardPrimaryBackgroundColor;
        color: $cardPrimaryTextColor;
        border-radius: 25px;
        margin:20px;
        padding: 20px;
        box-shadow: -3px 3px 10px 0px $cardBoxShadowColor;
        &__header{
            font-size: 21px;
            text-transform: uppercase;
            text-align: right;
            padding-right: 10px;
            border-right: 5px solid $cardPrimaryTextColor;
        }
        &__description{
            font-size: 18px;
        }
        &__cards{
            display: flex;
            &-section{
                display: flex;
            }
            &-type{
                width: 50%;
                display: flex;
                flex-direction: column;
                &-logo{
                    width: 40px;
                }
                &-title{
                    font-size: 21px;
                }
            }
            &-progress{
                width:50%;      
                &-bar{
                    margin: auto;
                }     
            }
        }
    }
    &-secondary{
        background-color: $cardSecondaryBackgroundColor;
        color: $cardSecondaryTextColor;
        border-radius: 25px;
        margin:20px;
        padding: 20px;
        box-shadow: -3px 3px 10px 0px $cardBoxShadowColor;
        &__header{
            font-size: 21px;
            text-transform: uppercase;
            text-align: right;
            padding-right: 10px;
            border-right: 5px solid $cardSecondaryTextColor;
        }
        &__description{
            font-size: 18px;
        }
        &__cards{
            display: flex;
            &-section{
                display: flex;
            }
            &-type{
                width: 50%;
                display: flex;
                flex-direction: column;
                &-logo{
                    width: 40px;
                }
                &-title{
                    font-size: 23px;
                }
            }
            &-progress{
                width:50%;      
                &-bar{
                    margin: auto;
                }     
            }
        }
    }
}
.small{
    width: 240px;
    height: 160px;
}
.medium{
    width: 280px;
    height: 280px;
}