@import '../sass/colors';

.app-navbar{
    &-default{
        position: sticky;
        &__container{
            margin: unset;
            min-width: 100%;
            &-brand{
                display: flex;
                color: $defaultAppTextColor !important;
                font-weight: bold;
                line-height: 23px;
                &-logo{
                    height: 50px;
                    width: 50px;
                    margin-right: 5px;
                }
            }
            &-settings{
                margin-left: auto;
                &-item{
                    cursor: pointer;
                    padding-left:10px;
                }
            }    
        }
    }
}