@import '../sass//colors';

.sign-in-container{
    &-default{
        display: flex;
        align-self: center;
        width: 65%;
        height: 75%;
        margin: auto;
        border-radius: 10px;
        box-shadow: -3px 3px 10px 0px $defaultSignInContainerBoxShadowColor;
        &-sign-in{
            &-form{
                display: flex;
                flex-direction: column;
                padding: 40px;
                background-color: $defaultAppSecondaryBackgroundColor;
                width: 50%;
                height: 100%;
                border-radius: 10px 0 0 10px;
                animation-name: signInFormAnimation;
                animation-duration: 1s;
                @keyframes signInFormAnimation {
                    from {width: 0%;}
                    to {width: 50%;}
                  }
            }
            &-design{
                display: flex;
                flex-direction: column;
                padding: 40px;
                background-color: $defaultAppBackgroundColor;
                width: 50%;
                height: 100%;
                border-radius: 0 10px 10px 0;
                text-align: center;
                animation-name: signInAnimation;
                animation-duration: 1s;

                @keyframes signInAnimation {
                    from {width: 100%;}
                    to {width: 50%;}
                  }
                &-header{
                    font-size: 21px;
                    font-weight: 600;
                    margin-bottom: 20px;
                    animation-name: signInContentAnimation;
                    animation-duration: 1s;
                }
                &-description{
                    margin: 0 auto 20px auto;
                    font-size: 14px;
                    line-height: 18px;
                    min-width: 250px;
                    max-width: 300px;
                    animation-name: signInContentAnimation;
                    animation-duration: 1s;
                }
                &-button{
                    margin: 0 auto 20px auto;
                    animation-name: signInContentAnimation;
                    animation-duration: 1s;
                }
                &-img{
                    margin: auto;
                    width: 250px;
                    animation-name: signInContentAnimation;
                    animation-duration: 1s;
                }

                @keyframes signInContentAnimation {
                    from {transform: translate(50%,0)}
                    to {transform: translate(0,0)}
                    
                }
            }
        }
        &-sign-up{
            &-design{
                display: flex;
                flex-direction: column;
                padding: 40px;
                background-color: $defaultAppBackgroundColor;
                width: 50%;
                height: 100%;
                border-radius: 10px 0 0 10px;
                text-align: center;
                animation-name: signUpAnimation;
                animation-duration: 1s;

                @keyframes signUpAnimation {
                    from {width: 100%;}
                    to {width: 50%;}
                  }
                &-header{
                    font-size: 21px;
                    font-weight: 600;
                    margin-bottom: 20px;
                    animation-name: signUpContentAnimation;
                    animation-duration: 1s;
                }
                &-description{
                    margin: 0 auto 20px auto;
                    font-size: 14px;
                    line-height: 18px;
                    min-width: 250px;
                    max-width: 300px;
                    animation-name: signUpContentAnimation;
                    animation-duration: 1s;
                }
                &-button{
                    margin: 0 auto 20px auto;
                    animation-name: signUpContentAnimation;
                    animation-duration: 1s;
                }
                &-img{
                    margin: auto;
                    width: 180px;
                    animation-name: signUpContentAnimation;
                    animation-duration: 1s;
                }
                @keyframes signUpContentAnimation {
                    from {transform: translate(-50%,0)}
                    to {transform: translate(0,0)}
                }
            }
            &-form{
                display: flex;
                flex-direction: column;
                padding: 40px;
                background-color: $defaultAppSecondaryBackgroundColor;
                width: 50%;
                height: 100%;
                border-radius: 0 10px 10px 0;
                animation-name: signUpFormAnimation;
                animation-duration: 1s;
                @keyframes signUpFormAnimation {
                    from {width: 0%;}
                    to {width: 50%;}
                  }
            }
        }
    }
}