@import '../sass//colors';

.sign-in-container{
    &-default{
        display: flex;
        align-self: center;
        width: 65%;
        height: 75%;
        margin: auto;
        border-radius: 10px;
        box-shadow: -3px 3px 10px 0px $defaultSignInContainerBoxShadowColor;
        &-sign-in{
            &-form{
                display: flex;
                flex-direction: column;
                padding: 40px;
                background-color: $defaultAppSecondaryBackgroundColor;
                width: 50%;
                height: 100%;
                border-radius: 10px 0 0 10px;  
                overflow: hidden;
                animation: signInFormAnimation 1.5s;
            }
            &-design{
                display: flex;
                flex-direction: column;
                padding: 40px;
                background-color: $defaultAppBackgroundColor;
                width: 50%;
                height: 100%;
                border-radius: 0 10px 10px 0;
                text-align: center;
                animation: signInDesignAnimation 1.5s;
                overflow: hidden;
                &-header{
                    font-size: 21px;
                    font-weight: 600;
                    margin-bottom: 20px;
                    animation: signInContentAnimation 0.5s;
                }
                &-description{
                    margin: 0 auto 20px auto;
                    font-size: 14px;
                    line-height: 18px;
                    animation: signInContentAnimation 0.5s;
                }
                &-button{
                    margin: 0 auto 20px auto;
                    animation: signInContentAnimation 0.5s;
                }
                &-img{
                    margin: auto;
                    width: 250px;
                    animation: signInContentAnimation 0.5s;
                }
            }
        }
        &-sign-up{
            &-design{
                display: flex;
                flex-direction: column;
                padding: 40px;
                background-color: $defaultAppBackgroundColor;
                width: 50%;
                height: 100%;
                border-radius: 10px 0 0 10px;
                text-align: center;
                animation: signUpDesignAnimation 1.5s;
                overflow: hidden;
                &-header{
                    font-size: 21px;
                    font-weight: 600;
                    margin-bottom: 20px;
                    animation: signUpContentAnimation 0.5s;
                }
                &-description{
                    margin: 0 auto 20px auto;
                    font-size: 14px;
                    line-height: 18px;
                    animation: signUpContentAnimation 0.5s;
                }
                &-button{
                    margin: 0 auto 20px auto;
                    animation: signUpContentAnimation 0.5s;
                }
                &-img{
                    margin: auto;
                    width: 180px;
                    animation: signUpContentAnimation 0.5s;
                }
            }
            &-form{
                display: flex;
                flex-direction: column;
                padding: 40px;
                background-color: $defaultAppSecondaryBackgroundColor;
                width: 50%;
                height: 100%;
                border-radius: 0 10px 10px 0;
                overflow: hidden;
                animation: signUpFormAnimation 1.5s;
            }
        }
    }
}

@keyframes signInDesignAnimation{
    from  {width: 100%}
    to {width: 50%}
}
@keyframes signInFormAnimation{
    from  {  width: 0%;}
    to {width: 50%;}
}
@keyframes signInContentAnimation{
    from { transform: translate(50%,0) }
    to { transform: translate(0%,0) }
}

@keyframes signUpDesignAnimation{
    from  {width: 100%}
    to {width: 50%}
}
@keyframes signUpFormAnimation{
    from  {  width: 0%;}
    to {width: 50%;}
}
@keyframes signUpContentAnimation{
    from { transform: translate(-50%,0) }
    to { transform: translate(0%,0) }
}
